/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* bootstrap */
.col, .row[class*=row-cols-] > *,
.row [class*=col-], .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1230px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row[class*=row-cols-] > *,
.row [class*=col-] {
  flex: 0 0 auto;
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  width: 100%;
}

.row-cols-2 > * {
  width: 50%;
}

.row-cols-3 > * {
  width: 33.3333333333%;
}

.row-cols-4 > * {
  width: 25%;
}

.row-cols-5 > * {
  width: 20%;
}

.row-cols-6 > * {
  width: 16.6666666667%;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .row-cols-xxl-1 > * {
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    width: 100%;
  }
  .row-cols-xl-2 > * {
    width: 50%;
  }
  .row-cols-xl-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    width: 25%;
  }
  .row-cols-xl-5 > * {
    width: 20%;
  }
  .row-cols-xl-6 > * {
    width: 16.6666666667%;
  }
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    width: 100%;
  }
  .row-cols-lg-2 > * {
    width: 50%;
  }
  .row-cols-lg-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    width: 25%;
  }
  .row-cols-lg-5 > * {
    width: 20%;
  }
  .row-cols-lg-6 > * {
    width: 16.6666666667%;
  }
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    width: 100%;
  }
  .row-cols-md-2 > * {
    width: 50%;
  }
  .row-cols-md-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    width: 25%;
  }
  .row-cols-md-5 > * {
    width: 20%;
  }
  .row-cols-md-6 > * {
    width: 16.6666666667%;
  }
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    width: 100%;
  }
  .row-cols-sm-2 > * {
    width: 50%;
  }
  .row-cols-sm-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    width: 25%;
  }
  .row-cols-sm-5 > * {
    width: 20%;
  }
  .row-cols-sm-6 > * {
    width: 16.6666666667%;
  }
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
:root {
  --primary-highlight-color: #ff8ba7;
  --primary-color: #ffb3b5;
  --text-color: #232124;
  --top-bar-height: 34px;
  --logo-size: 50px;
  --menu-padding: 8px;
  --menu-height: calc(var(--logo-size) + var(--menu-padding) * 2);
  --with-search-height: 80px;
  --header-height: calc(var(--top-bar-height) + var(--menu-height) + var(--with-search-height));
  --swiper-theme-color: #666 !important;
  --swiper-navigation-size: 20px !important;
  --favorite-trending-height: 433px;
  --icon-top: 8px;
  --font-icon: 28px;
}
@media (max-width: 991.98px) {
  :root {
    --header-height: var(--menu-height);
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

::selection {
  background-color: var(--primary-highlight-color);
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fffffe;
  color: var(--text-color);
  font-size: 1.6rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
}

button {
  border: none;
  outline: none;
}

input,
textarea {
  background: transparent;
}

a,
img,
button,
input,
label,
textarea,
select {
  padding: 0;
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
}

.btn {
  width: 170px;
  height: 50px;
  padding: 0 20px;
  border-radius: 4px;
  background-color: var(--primary-highlight-color);
  color: #232124;
  cursor: pointer;
  font-size: 1.5rem;
}
.btn:hover {
  opacity: 0.9;
}
@media (max-width: 767.98px) {
  .btn {
    width: 150px;
    font-size: 1.4rem;
  }
}

.heading-large {
  margin: 40px 0;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.4;
}
@media (max-width: 767.98px) {
  .heading-large {
    font-size: 3.2rem;
  }
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
@keyframes fadeTop {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.logo, .top-bar-list li, .top-bar-list, .top-bar {
  display: flex;
  align-items: center;
}

.header {
  height: var(--header-height);
}
@media (max-width: 991.98px) {
  .header {
    border-bottom: 1px solid #e8ebed;
  }
}

.top-bar {
  height: var(--top-bar-height);
  justify-content: space-between;
}
.top-bar-list li {
  position: relative;
  padding: 0 8px;
  cursor: pointer;
  gap: 6px;
  font-size: 1.3rem;
  transition: all 0.2s;
}
.top-bar-list li:first-child {
  padding-left: 0;
}
.top-bar-list li:last-child {
  padding-right: 0;
}
.top-bar-list li:hover {
  color: var(--primary-highlight-color);
}
.top-bar-list li img {
  width: 16px;
  height: 16px;
}
.top-bar-list li.gap {
  position: relative;
}
.top-bar-list li.gap::before {
  content: "";
  position: absolute;
  height: 14px;
  width: 1px;
  background-color: #c4c4c4;
  top: -1px;
  right: 0;
}

.menu {
  display: flex;
  align-items: center;
  padding: var(--menu-padding) 0;
  height: var(--menu-height);
}

.bars {
  margin-right: 32px;
}
.bars img {
  width: 20px;
  height: 20px;
  filter: brightness(0) saturate(100%) invert(5%) sepia(3%) saturate(3332%) hue-rotate(236deg) brightness(94%) contrast(81%);
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  inset: 0;
  z-index: 99;
  transition: all 0.2s;
}
.overlay.hide {
  opacity: 0;
  visibility: hidden;
  display: block;
}

.logo {
  gap: 10px;
  height: var(--logo-size);
}
.logo img {
  border-radius: 50%;
  width: var(--logo-size);
  height: var(--logo-size);
}
.logo h1 {
  font-weight: 700;
  font-size: 1.7rem;
}

.navbar {
  margin-left: 40px;
}
.navbar-list {
  display: flex;
  align-items: center;
}
.navbar-list a {
  padding: 0 14px;
  font-size: 1.5rem;
  font-weight: 500;
  transition: color 0.2s;
}
.navbar-list a.active {
  color: var(--primary-highlight-color);
}
@media (max-width: 991.98px) {
  .navbar-list a.active {
    background-color: #fafafa;
  }
}
.navbar-list a:hover {
  color: var(--primary-highlight-color);
}

.action {
  display: flex;
  align-items: center;
  gap: 24px;
  flex: 1;
}

.cart {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
}
.cart:hover {
  color: var(--primary-highlight-color);
  filter: brightness(0) saturate(100%) invert(83%) sepia(43%) saturate(3118%) hue-rotate(295deg) brightness(101%) contrast(101%);
}
.cart img {
  width: 26px;
  height: 26px;
}
.cart > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.cart > div span {
  font-size: 1.3rem;
  font-weight: 500;
}

.cheader-with-search {
  background: linear-gradient(0, var(--primary-color), var(--primary-highlight-color));
}
.cheader-with-search-inner {
  height: var(--with-search-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cheader-with-search-inner img {
  width: 20px;
  height: 20px;
}
.cheader-with-search-button {
  position: relative;
}
.cheader-with-search-button button {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  gap: 12px;
  background-color: #ffdebd;
  transition: all 0.3s;
}
.cheader-with-search-button button:hover {
  box-shadow: 0 3px 15px -10px rgba(31, 18, 53, 0.6);
}
.cheader-with-search-button span {
  font-size: 1.4rem;
  font-weight: 500;
}
.cheader-with-search-button img {
  width: 16px;
  height: 16px;
  filter: brightness(0) saturate(100%) invert(7%) sepia(1%) saturate(5312%) hue-rotate(237deg) brightness(99%) contrast(86%);
}

.subnav {
  padding-top: 12px;
  position: absolute;
  top: 100%;
  left: 0;
  animation: fadeTop 0.3s ease;
  z-index: 999;
}
.subnav-list {
  width: 100%;
  min-width: 300px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 -4px 32px rgba(0, 0, 0, 0.1);
}
.subnav-list a {
  width: 100%;
  padding: 14px 16px;
  display: flex;
  font-size: 1.5rem;
}
.subnav-list a:hover {
  background-color: #fafafa;
  border-radius: 6px;
}

.search {
  width: 45%;
  height: 40px;
  display: flex;
  justify-content: center;
  position: relative;
}
@media (max-width: 1199.98px) {
  .search {
    width: 50%;
  }
}
@media (max-width: 991.98px) {
  .search {
    width: 65%;
  }
}
.search-form {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  position: relative;
  background-color: #fff;
  border: 1px solid #eaeaea;
}
.search-form-button {
  width: 100%;
  height: 100%;
}
.search-form input {
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 50px;
}
.search-btn {
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
  cursor: pointer;
  padding: 0 14px;
  height: 100%;
}
.search-btn img {
  width: 22px;
  height: 22px;
}

.products {
  width: 100%;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  z-index: 9999;
  border-radius: 6px;
  animation: fadeTop 0.3s ease;
  box-shadow: 0 -4px 32px rgba(0, 0, 0, 0.1);
}
.products-list {
  border-radius: 6px;
}
.products-list li > a {
  width: 100%;
  padding: 14px 16px;
  font-size: 1.5rem;
  display: inline-block;
}
@media (max-width: 767.98px) {
  .products-list li > a {
    font-size: 1.2rem;
    padding: 10px 14px;
  }
}
.products-list li > a:hover {
  background-color: #fafafa;
  border-radius: 6px;
}

.common {
  padding: 14px 16px;
}
.common span {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
}
@media (max-width: 767.98px) {
  .common span {
    font-size: 1.3rem;
  }
}
.common-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 12px;
  row-gap: 10px;
}
.common-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0px 16px;
  border-radius: 999px;
  background: rgb(245, 245, 245);
  margin: 0px 4px;
  cursor: pointer;
  transition: 0.2s;
}
@media (max-width: 767.98px) {
  .common-item {
    padding: 4px 12px;
    height: 24px;
  }
}
.common-item:hover {
  background-color: rgb(236, 236, 236);
}
.common-item > a {
  font-size: 1.4rem;
  color: rgb(51, 51, 51);
}
@media (max-width: 767.98px) {
  .common-item > a {
    font-size: 1.2rem;
  }
}

.hide {
  display: none;
}

.footer {
  background-color: #fbfbfb;
  padding-top: 40px;
}
.footer-logo span {
  font-weight: 700;
  font-size: 1.7rem;
}
.footer-list {
  display: grid;
  grid-template-columns: 1.6fr 1fr 1fr 1fr 1.4fr;
  gap: 40px;
  padding-bottom: 20px;
}
@media (max-width: 991.98px) {
  .footer-list {
    grid-template-columns: 1.4fr 1fr;
  }
}
@media (max-width: 767.98px) {
  .footer-list {
    grid-template-columns: 1fr;
  }
}
.footer-item {
  flex-shrink: 0;
}
.footer-item:nth-child(1) p {
  margin-top: 30px;
  line-height: 1.4;
  font-size: 1.4rem;
}
.footer-item h3 {
  font-weight: 500;
}
.footer-item ul {
  margin-top: 18px;
}
.footer-item li > a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
  font-size: 1.4rem;
  width: 100%;
  transition: color 0.15s;
}
.footer-item li > a img {
  width: 16px;
  height: 16px;
  filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(20%) hue-rotate(322deg) brightness(91%) contrast(106%);
}
.footer-item li > a:hover {
  color: var(--primary-highlight-color);
}
.footer-item li > p {
  padding: 8px 0;
  line-height: 1.4;
}
.footer-label {
  display: block;
  margin-top: 18px;
  font-weight: 500;
  font-size: 1.4rem;
}
.footer-text {
  margin-top: 24px;
  font-size: 1.4rem;
  line-height: 1.4;
  display: block;
}
.footer-form {
  margin-top: 16px;
  display: flex;
  column-gap: 10px;
}
.footer-form input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #d2d1d6;
  font-size: 1.4rem;
}
.footer-form button {
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.4rem;
  transition: opacity 0.15s;
  flex-shrink: 0;
  background-color: var(--primary-highlight-color);
}
.footer-form button:hover {
  opacity: 0.9;
}
.footer-end {
  border-top: 1px solid #e5e8ec;
}
.footer-end span {
  display: block;
  padding: 17px 0;
  text-align: center;
}

.menu-mobile-topbar ul, .menu-mobile-navbar ul {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 12px;
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.079);
}

.menu-mobile-topbar ul a, .menu-mobile-navbar ul a {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  cursor: pointer;
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 14px 0 16px 20px;
  transition: 0.3s;
  width: 100%;
}
.menu-mobile-topbar ul a:hover, .menu-mobile-navbar ul a:hover {
  background-color: #fafafa;
}

.menu-mobile {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 60%;
  z-index: 999;
  padding: 16px 0 0 32px;
  transition: all 0.3s ease;
  overflow-y: auto;
}
@media (max-width: 767.98px) {
  .menu-mobile {
    width: 80%;
    padding: 12px 0 0 12px;
  }
}
.menu-mobile.hide {
  translate: -100% 0;
}
.menu-mobile.show {
  translate: 0;
}
.menu-mobile.show ~ .overlay {
  opacity: 1;
  visibility: visible;
}
.menu-mobile.show ~ .menu-mobile-backout img {
  opacity: 1;
  visibility: visible;
}
.menu-mobile-backout {
  padding-top: 12px;
}
.menu-mobile-backout img {
  padding: 6px 4px;
}
.menu-mobile-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: var(--logo-size);
  margin: 12px 0;
}
.menu-mobile-logo img {
  border-radius: 50%;
  width: var(--logo-size);
  height: var(--logo-size);
}
.menu-mobile-logo span {
  font-weight: 700;
}
.menu-mobile-navbar ul {
  flex-direction: column;
  align-items: flex-start;
}
.menu-mobile-navbar ul li {
  width: 100%;
}
.menu-mobile-topbar ul {
  flex-direction: column;
  align-items: flex-start;
}
.menu-mobile-topbar ul li {
  width: 100%;
  padding: 0;
}
.menu-mobile-topbar ul li.gap::before {
  content: none;
}
.menu-mobile-topbar ul a:hover {
  color: var(--primary-dark-color);
}

.search-mobile {
  width: 60%;
  height: 40px;
  justify-content: center;
  position: relative;
}
@media (max-width: 767.98px) {
  .search-mobile {
    width: 100%;
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  background-color: #fbfbfb;
  border-radius: 8px;
  padding: 16px;
  gap: 16px;
}
@media (max-width: 991.98px) {
  .breadcrumbs {
    padding: 12px 14px;
  }
}
.breadcrumbs li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.breadcrumbs li a {
  color: #9e9da8;
  font-size: 1.5rem;
}
@media (max-width: 991.98px) {
  .breadcrumbs li a {
    font-size: 1.4rem;
  }
}
.breadcrumbs li a.active {
  color: #000;
}
.breadcrumbs li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
@media (max-width: 767.98px) {
  .breadcrumbs li img {
    width: 20px;
    height: 20px;
  }
}

.hero {
  margin-top: 32px;
}
@media (max-width: 767.98px) {
  .hero {
    margin-top: 24px;
  }
}
.hero-body {
  display: flex;
}
.hero-subnav .subnav-list {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #e5e8ec;
}
.hero-subnav .subnav-list a {
  border-bottom: 1px solid #e5e8ec;
  padding: 15.7px 16px;
  border-radius: 0;
}

.slider {
  width: 100%;
  margin-left: 32px !important;
  cursor: grab;
}
@media (max-width: 1199.98px) {
  .slider {
    margin-left: 0 !important;
  }
}
.slider-item {
  position: relative;
  padding-top: 54.67%;
}
.slider-item img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--primary-highlight-color) !important;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  --swiper-navigation-size: 18px !important;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 4px !important;
}
@media (max-width: 767.98px) {
  .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0px !important;
  }
}

@media (max-width: 767.98px) {
  .swiper-pagination-bullet {
    width: 4px !important;
    height: 4px !important;
    margin: 2px !important;
  }
}

.service-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
}
.service-item {
  display: flex;
  align-items: center;
  padding: 32px 0;
  gap: 16px;
}
.service-box {
  width: 258px;
  flex-shrink: 0;
}
.service-box span {
  color: #232124;
}
.service-box p {
  font-size: 1.4rem;
  margin-top: 6px;
  color: #898989;
  line-height: 1.4;
}
.service-wrap {
  display: flex;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  flex-shrink: 0;
}
.service-wrap img {
  width: 40px;
  margin: auto;
  filter: brightness(0) saturate(100%) invert(35%) sepia(0%) saturate(1067%) hue-rotate(257deg) brightness(102%) contrast(87%);
}

.favorite {
  padding: 30px 0;
}
.favorite h2 {
  padding-bottom: 12px;
  border-bottom: 1px solid #e5e8ec;
  font-size: 1.8rem;
  font-weight: 700;
}
.favorite-list {
  display: flex;
  margin-top: 32px;
  gap: 30px;
}
@media (max-width: 991.98px) {
  .favorite-list {
    flex-direction: column;
    align-items: center;
  }
}
.favorite-inner {
  flex: 1;
}
.favorite-row {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product {
  padding-bottom: 50px;
}
.product-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e8ec;
  padding-bottom: 12px;
}
.product-top h2 {
  font-size: 1.8rem;
  font-weight: 700;
}
.product-top a {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 1.4rem;
  padding: 8px 0;
  cursor: pointer;
}
.product-top a:hover img {
  translate: 4px 0;
}
@media (max-width: 767.98px) {
  .product-top a:hover img {
    translate: 2px 0;
  }
}
.product-top a img {
  transform: rotate(180deg);
  width: 14px;
  transition: translate 0.3s;
}
@media (max-width: 767.98px) {
  .product-row {
    --grid-gutter-y: 10px;
    --grid-gutter-x: 10px;
  }
}
.product-list {
  margin-top: 32px;
}
.product-item {
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.0902);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  translate: 0 4px;
  transition: translate 0.3s;
}
.product-item:hover {
  translate: 0;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.product-item.product-trending {
  padding: 20px;
  border-radius: 4px;
  border: 2px solid var(--primary-highlight-color);
  translate: 0;
}
@media (max-width: 991.98px) {
  .product-item.product-trending {
    width: max-content;
  }
}
.product-item.product-trending > span {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1.8rem;
  display: block;
  text-align: center;
}
.product-item.product-trending .product-item-inner {
  width: 229px;
  height: 229px;
}
.product-item.product-trending .product-item-thumb > img {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.product-item.product-trending .product-item-body {
  width: 229px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
  padding: 0;
}
.product-item.product-trending .product-item-body h3 {
  font-weight: 500;
}
.product-item.product-trending .product-item-body > span {
  display: block;
  color: var(--primary-highlight-color);
  margin-top: 0;
}
.product-item.product-trending .product-item-box {
  margin-top: 0;
}
.product-item.product-min {
  display: flex;
  gap: 20px;
  border: 0px solid;
  box-shadow: 0 0;
  translate: 0;
}
.product-item.product-min .product-item-inner {
  width: 100px;
  height: 130px;
  padding-top: 0;
}
.product-item.product-min .product-item-thumb > img {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.product-item.product-min .product-item-body {
  width: 229px;
  padding: 0;
  row-gap: 12px;
}
.product-item.product-min .product-item-body h3 {
  font-weight: 400;
}
.product-item.product-min .product-item-body span {
  margin-top: 0;
}
.product-item.product-min .product-item-box {
  flex-direction: column-reverse;
  gap: 14px;
  align-items: flex-start;
  margin-top: 0;
}
.product-item-inner {
  position: relative;
  padding-top: 100%;
  inset: 0;
}
.product-item-inner a {
  position: absolute;
  inset: 0;
}
.product-item-thumb {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.product-item-thumb > img {
  display: block;
  height: 100%;
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.product-item-thumb.favorite-item-body {
  margin-top: 16px;
}
.product-item-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.product-item-body h3 {
  font-weight: 500;
  line-height: 1.4;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.product-item-body > span {
  display: block;
  color: var(--primary-highlight-color);
  margin-top: 6px;
}
.product-item-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
.product-item-box span {
  font-size: 1.2rem;
  color: #666;
}
.product-item-stars {
  display: flex;
  align-items: center;
  gap: 2px;
}
.product-item-stars img {
  width: 12px;
  height: 12px;
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(79%) sepia(100%) saturate(804%) hue-rotate(323deg) brightness(102%) contrast(103%);
}

.system {
  margin-top: 32px;
  margin-bottom: 40px;
}
.system-list {
  padding-top: 40px;
}
.system-item h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.system-item a {
  display: block;
  height: 100%;
  position: relative;
}
.system-item a:hover .system-item-overlay {
  opacity: 1;
  visibility: visible;
}
.system-item img {
  width: 100%;
}
.system-item-overlay {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
.system-item-action {
  padding: 6px 16px;
  position: absolute;
  top: 20px;
  left: 20px;
  background: #fff;
}
.system-item-action span {
  color: #1a73e8;
}
.system-item-action span:hover {
  text-decoration: underline;
}
.system-item-info li {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  padding: 8px 0;
}
.system-item-info li img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}
.system-item-info li span {
  flex-shrink: 0;
  font-size: 1.4rem;
}
.system-item-info li a {
  font-size: 1.4rem;
}

.hotline {
  color: var(--primary-highlight-color);
}

.support {
  margin-top: 32px;
  margin-bottom: 40px;
}
.support h1 {
  width: 400px;
}
@media (max-width: 767.98px) {
  .support h1 {
    width: 100%;
  }
}
.support-form {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 767.98px) {
  .support-form {
    margin-top: 50px;
    gap: 20px;
  }
}
.support-group {
  margin-top: 0 !important;
}
@media (max-width: 767.98px) {
  .support-group {
    grid-column: 1/-1;
  }
}
.support-group input {
  height: 48px;
  padding: 0 18px;
  border-radius: 4px;
  font-size: 1.4rem;
  border: 1px solid #e5e8ec;
  width: 100%;
}
@media (max-width: 767.98px) {
  .support-group input {
    font-size: 1.4rem;
    height: 40px;
  }
}
.support-group input::placeholder {
  color: #615e69;
  font-size: 1.4rem;
}
.support-group input[type=number]:hover {
  background-color: #fff;
}
.support-select {
  margin-top: 0 !important;
  grid-column: 1/-1;
}
.support-label {
  color: #032e32;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 145.455%;
}
.support-horizontal {
  display: grid;
  gap: 28px;
  margin-top: 20px;
}
@media (max-width: 767.98px) {
  .support-horizontal {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
.support-horizontal > div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.support-horizontal > div label {
  color: #032e32;
  font-size: 1.8rem;
  line-height: 166.667%;
}
.support-horizontal > div input {
  width: 14px;
  height: 14px;
  appearance: none;
  position: relative;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.support-horizontal > div input::after {
  content: url("../../assets/icons/radiio.svg");
}
.support-horizontal > div input:checked::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ff5f1a;
  position: absolute;
  top: 0;
  left: 0;
}
.support-message {
  grid-column: 1/-1;
}
.support-message textarea {
  border: 1px solid #e5e8ec;
  width: 100%;
  height: 210px;
  border-radius: 4px;
  resize: none;
  color: #615e69;
  font-size: 1.4rem;
  line-height: 1.4;
  padding: 18px;
}
.support-message textarea::placeholder {
  color: #615e69;
  font-size: 1.4rem;
  line-height: 1.4;
}
@media (max-width: 767.98px) {
  .support-message textarea {
    height: 180px;
  }
}
.support-btn {
  margin-top: 10px;
}

.form-group.invalid .form-control {
  border-color: #f33a58;
}
.form-group.invalid .support-error {
  display: block;
  margin-top: 8px;
  color: #f33a58;
}

/*# sourceMappingURL=main.css.map */
