@use "../abstracts";

%df-align-on {
    display: flex;
    align-items: center;
}

.header {
    height: var(--header-height);

    @include abstracts.screen(lg) {
        border-bottom: 1px solid #e8ebed;
    }
}

.top-bar {
    height: var(--top-bar-height);
    justify-content: space-between;

    @extend %df-align-on;

    &-list {
        @extend %df-align-on;

        li {
            position: relative;
            padding: 0 8px;
            cursor: pointer;
            gap: 6px;
            font-size: 1.3rem;
            transition: all .2s;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            @extend %df-align-on;

            &:hover {
                color: var(--primary-highlight-color);
            }

            img {
                width: 16px;
                height: 16px;
            }

            &.gap {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    height: 14px;
                    width: 1px;
                    background-color: #c4c4c4;
                    top: -1px;
                    right: 0;
                }
            }
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    padding: var(--menu-padding) 0;
    height: var(--menu-height);
}

.bars {
    margin-right: 32px;

    img {
        width: 20px;
        height: 20px;
        filter: brightness(0) saturate(100%) invert(5%) sepia(3%) saturate(3332%) hue-rotate(236deg) brightness(94%)
            contrast(81%);
    }
}

.overlay {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    inset: 0;
    z-index: 99;
    transition: all 0.2s;

    &.hide {
        opacity: 0;
        visibility: hidden;
        display: block;
    }
}

.logo {
    gap: 10px;
    height: var(--logo-size);

    @extend %df-align-on;

    img {
        border-radius: 50%;
        width: var(--logo-size);
        height: var(--logo-size);
    }

    h1 {
        font-weight: 700;
        font-size: 1.7rem;
    }
}

.navbar {
    margin-left: 40px;

    &-list {
        display: flex;
        align-items: center;

        a {
            padding: 0 14px;
            font-size: 1.5rem;
            font-weight: 500;
            transition: color 0.2s;

            &.active {
                color: var(--primary-highlight-color);

                @include abstracts.screen(lg) {
                    background-color: #fafafa;
                }
            }

            &:hover {
                color: var(--primary-highlight-color);
            }
        }
    }
}

.action {
    display: flex;
    align-items: center;
    gap: 24px;
    flex: 1;
}

.cart {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: auto;

    &:hover {
        color: var(--primary-highlight-color);
        filter: brightness(0) saturate(100%) invert(83%) sepia(43%) saturate(3118%) hue-rotate(295deg) brightness(101%)
            contrast(101%);
    }

    img {
        width: 26px;
        height: 26px;
    }

    > div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;

        span {
            font-size: 1.3rem;
            font-weight: 500;
        }
    }
}

.cheader-with-search {
    background: linear-gradient(0, var(--primary-color), var(--primary-highlight-color));

    &-inner {
        height: var(--with-search-height);
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 20px;
            height: 20px;
        }
    }

    &-button {
        position: relative;

        button {
            display: flex;
            align-items: center;
            padding: 10px 16px;
            border-radius: 4px;
            cursor: pointer;
            gap: 12px;
            background-color: #ffdebd;
            transition: all .3s;

            &:hover {
                box-shadow: 0 3px 15px -10px rgba(31, 18, 53, 0.6);
            }
        }

        span {
            font-size: 1.4rem;
            font-weight: 500;
        }

        img {
            width: 16px;
            height: 16px;
            filter: brightness(0) saturate(100%) invert(7%) sepia(1%) saturate(5312%) hue-rotate(237deg) brightness(99%)
                contrast(86%);
        }
    }
}

.subnav {
    padding-top: 12px;
    position: absolute;
    top: 100%;
    left: 0;
    animation: fadeTop 0.3s ease;
    z-index: 999;

    &-list {
        width: 100%;
        min-width: 300px;
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 0 -4px 32px rgba(0, 0, 0, 0.1);

        a {
            width: 100%;
            padding: 14px 16px;
            display: flex;
            font-size: 1.5rem;

            &:hover {
                background-color: #fafafa;
                border-radius: 6px;
            }
        }
    }
}

.search {
    width: 45%;
    height: 40px;
    display: flex;
    justify-content: center;
    position: relative;

    @include abstracts.screen(xl) {
        width: 50%;
    }

    @include abstracts.screen(lg) {
        width: 65%;
    }

    &-form {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        position: relative;
        background-color: #fff;
        border: 1px solid #eaeaea;

        &-button {
            width: 100%;
            height: 100%;
        }

        input {
            width: 100%;
            height: 100%;
            padding-left: 16px;
            padding-right: 50px;
        }
    }

    &-btn {
        background-color: transparent;
        position: absolute;
        top: 50%;
        right: 0;
        translate: 0 -50%;
        cursor: pointer;
        padding: 0 14px;
        height: 100%;

        img {
            width: 22px;
            height: 22px;
        }
    }
}

.products {
    width: 100%;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    z-index: 9999;
    border-radius: 6px;
    animation: fadeTop 0.3s ease;
    box-shadow: 0 -4px 32px rgba(0, 0, 0, 0.1);

    &-list {
        border-radius: 6px;

        li {
            > a {
                width: 100%;
                padding: 14px 16px;
                font-size: 1.5rem;
                display: inline-block;

                @include abstracts.screen(md) {
                    font-size: 1.2rem;
                    padding: 10px 14px;
                }

                &:hover {
                    background-color: #fafafa;
                    border-radius: 6px;
                }
            }
        }
    }
}

.common {
    padding: 14px 16px;

    span {
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 500;

        @include abstracts.screen(md) {
            font-size: 1.3rem;
        }
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        padding-top: 12px;
        row-gap: 10px;
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        padding: 0px 16px;
        border-radius: 999px;
        background: rgb(245, 245, 245);
        margin: 0px 4px;
        cursor: pointer;
        transition: 0.2s;

        @include abstracts.screen(md) {
            padding: 4px 12px;
            height: 24px;
        }

        &:hover {
            background-color: rgb(236, 236, 236);
        }

        > a {
            font-size: 1.4rem;
            color: rgb(51, 51, 51);

            @include abstracts.screen(md) {
                font-size: 1.2rem;
            }
        }
    }
}

.hide {
    display: none;
}
