@use "../abstracts";

:root {
    --primary-highlight-color: #ff8ba7;
    --primary-color: #ffb3b5;
    --text-color: #232124;

    --top-bar-height: 34px;
    --logo-size: 50px;
    --menu-padding: 8px;
    --menu-height: calc(var(--logo-size) + var(--menu-padding) * 2);
    --with-search-height: 80px;
    --header-height: calc(var(--top-bar-height) + var(--menu-height) + var(--with-search-height));

    @include abstracts.screen(lg) {
        --header-height: var(--menu-height);
    }

    --swiper-theme-color: #666 !important;
    --swiper-navigation-size: 20px !important;

    --favorite-trending-height: 433px;

    --icon-top: 8px;
    --font-icon: 28px;
}

*,
::before,
::after {
    box-sizing: border-box;
}

::selection {
    background-color: var(--primary-highlight-color);
    color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fffffe;
    color: var(--text-color);
    font-size: 1.6rem;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: cover;
}

button {
    border: none;
    outline: none;
}

input,
textarea {
    background: transparent;
}

a,
img,
button,
input,
label,
textarea,
select {
    padding: 0;
    font-family: inherit;
    color: inherit;
    outline: none;
    border: none;
}

.btn {
    height: 50px;
    padding: 0 20px;
    border-radius: 4px;
    background-color: var(--primary-highlight-color);
    color: #232124;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }

    @include abstracts.screen(md) {
        width: 150px;
        font-size: 1.5rem;
    }
}

.heading-large {
    margin: 40px 0;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.4;

    @include abstracts.screen(md) {
        font-size: 3.2rem;
    }
}
